{% extends "base.html" %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Select Semester</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- <form role="form" method="POST" action="/addDay">
          {% csrf_token %}
                
              </form> -->
        <!-- /.row -->
        <form method="POST" action="/create_Time_Table">
          {% csrf_token %}
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th></th>
                    <th>ID</th>
                    <th>Semester Name</th>
                    <th>Number Of Courses</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for semester in Semesters %}
                  <tr>
                      <td>
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="{{semester.semester_id}}" value="{{semester.semester_id}}" name="r1">
                            <label for="{{semester.semester_id}}">
                            </label>
                          </div>
                      </td>
                    <td>{{semester.semester_id}}</td>
                    <td>{{semester.semester_name}}</td>
                    <td>{{semester.courses_count}}</td>
                  </tr>
                {%endfor%}

                </tbody>
              </table>
          </div>
          <br>
          <br>
          <br>
          <br>
          <button type="submit" class="btn btn-block bg-gradient-info btn-lg">Submit</button>
        </form>
      </div><!-- /.container-fluid -->


    </section>

         <!-- Main content -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.2-pre
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

  <!-- /.control-sidebar -->
{% endblock %}
