{% extends "base.html" %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

            <h1>Add a Room</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Room</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="POST" action="addRoom">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Room Name</label>
                    <input type="text" class="form-control" name="room_name"  placeholder="Room Name">
                  </div>
                  <div class="form-group">
                    <label for="name">Capacity</label>
                    <input type="text" class="form-control" name="room_capacity" id="" placeholder="Capacity">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" name="lab_switch" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1">Toggle this to confirm this Room is LAB</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" name="physicslab_switch" id="customSwitch2">
                      <label class="custom-control-label" for="customSwitch2">Toggle this to confirm this Room is Physics LAB</label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                         <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
        </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
         <!-- Main content -->
  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Rooms</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Capicty</th>
                      <th>Room Type</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for room in data %}
                    <tr>
                      <td>{{room.id}}</td>
                      <td>{{room.room_name}}</td>
                      <td>{{room.room_capacity}}</td>
                      {%if room.islab%}
                        <td>LAB</td>

                      {%else%}
                      <td>Room</td>
                      {%endif%}
                       <td>
                    <form method="post" action="delete_Room" >
                          {% csrf_token %}
                          <input type="hidden" class="form-control" placeholder="" name="delete_btn" value="{{room.id}}">
                          <button type="submit" class="btn btn-danger" name="">Delete</button>
                        </form>
                  </td>
                    </tr>

                  {%endfor%}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
  
  <script>
     $(document).ready(function() {
      //Initialize Select2 Elements
      $('.select2').select2()
  
      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
  
    })
  </script>

{% endblock %}
